body{
    color: black;
    margin: 0;
}

h1{
    font-size: 60px;
    font-family: 'Lobster', cursive;
    color: rgb(126, 160, 197);
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: rgb(126, 160, 197);
    text-align: center;
}

.hero p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.work p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 15%;
}

.work h2{
    color: white;
    text-align: left;
    padding-left: 15%;
}

.work h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 15%;
}

.about p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.about img{
    height: 150px;
    border-radius: 50%;
}

.projects img{
    border: 1px solid rgb(126, 160, 197);
    border-radius: 15px;
    height: 300px;
}

.hero{
    background-image: url('assets/hero_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 40vw 0 20px;
    color: rgb(126, 160, 197);
    height: 85vh;
    text-align: center;
}

.about{
    text-align: center;
    padding: 75px 200px 0 200px;
    background-color: white;
}

.work{
    padding: 20px 100px 0 100px;
    margin-bottom: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills{
    background-color: rgb(126, 160, 197);
    margin: 0 15% 5% 15%;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top : 2px;
    /* height: 200px;
    width: 200px; */
}

.edu{
    background-color: rgb(126, 160, 197);
    margin: 0 15% 5% 15%;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 2px;
    /* height: 200px;
    width: 200px; */
}

.projects{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 80px 0 100px;
    margin-bottom: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project{
    display: flex;
}

.projects div{
    padding: 0 40px 10px 20px;
    text-align: left;
}

.footer{
    padding: 30px;
    text-align: center;
    color: white;
    background-color: gray;
    height: 150px;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif; */

@media(max-width: 600px){
 
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 15px;
    }
    
    .hero p{
        font-size: 10px;
    }
    
    .work p{
        font-size: 12px;
    }
    
    .work h3{
        font-size: 12px;
    }
    
    .about p{
        font-size: 12px;
    }
    
    .about img{
        height: 100px;
    }
    
    .hero{
        background-repeat: no-repeat;
        position: relative;
        padding: 20px 50vw 30px 10px;
        color: rgb(126, 160, 197);
        height: 40vh;
        text-align: center;
    }
    
    .about{
        padding: 50px 20px 0 20px;
    }
    
    .work{
        padding: 0;
        margin : 0;
    }

    .work div{
        width: 200px;
        margin : 35px;
    }
    
    .projects{
        padding: 10px;
        margin-bottom: 30px;
        font-size: 12px;
        display: block;
    }
    
    .projects div{
        padding: 0 40px 10px 20px;
        text-align: left;
        align-items: center;
    }
    
    .footer{
        height: 100px;
    }
}